body {
    margin: 0px;
    background-color: #003366;
    font-family: 'Nerko One', cursive;
}

div.barra-arriba{
	background-color: #663366;
	border: 2px solid transparent;
	border-radius: 0px;
	height: 25px;
	margin: 0px 0px;
	margin-bottom: 15px;
	margin-top: 0px;
	padding: 4px 4px;
	width: max-width;
	}

.logo{
	border: 0px solid transparent;
	border-radius: 100px;
	height: 50px:
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 15px;
	width: 50px;
	}	
	
div.contenedor1{
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	height: auto;
	margin: 6px 6px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 4px 4px;
	width: max-width;
	}
	
.marca{
	color: #000033;
	font-size: 18px;
    text-align: center;
	}
	
.texto{
	color: #000033;
	font-family: Impact;   
	font-size: 10px;
    text-align: center;
    margin-top: 5px;
	}
	
.texto1{
	color: white;
	font-family: Impact;
	font-size: 8px;
    text-align: center;
    margin-top: 15px;
	}
	
.publicidad1{
	border: 0px solid transparent;
	border-radius: 8px;
	height: 120px:
	margin: 10px 10px;
	margin-top: 0px;
	width: 300px;
	}
	
.boton-entrar{
	background-color: #663366;
	border-radius: 15px;
	font-family: Impact;
	font-size: 10px;
	height: auto;
    color: white;
    border: 2px solid white;
    margin: 10px 10px;
    margin-bottom; 5px;
    padding: 3px 3px;
    width: 300px;
    }
    
.creditos{
	color: white;
	font-size: 8px;
    text-align: center;
    margin-top: 5px;
	}   
